# Animula configuration options

# Copyright (c) 2020-2021 Animula

# SPDX-License-Identifier: LGPL-3.0

module = ANIMULA
config MAXIMUM_NUMBER_OPEN_FILE_DESCRIPTOR
	int "Max file descriptor of open files in Animula"
	default 64
	help
	  "Max file descriptor of open files in Animula"

source "Kconfig.zephyr"
