# LambdaChip Alonzo board configuration

# Copyright (c) 2020-2021 LambdaChip
# SPDX-License-Identifier: Apache-2.0

config BOARD_LAMBDACHIP_ALONZO
	bool "LambdaChip Alonzo Board"
	depends on SOC_STM32F411XE
