/*
 * Copyright (c) 2020-2021 LambdaChip
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f4/stm32f411Xe.dtsi>
#include <st/f4/stm32f411r(c-e)tx-pinctrl.dtsi>
/* #include "arduino_r3_connector.dtsi" */

/* Alonzo v0.0.5 */

/ {
	model = "LambdaChip Alonzo";
	compatible = "st,stm32f411";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led_0: led_0 {
			gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
			label = "User LED0";
		};

		led_1: led_1 {
			gpios = <&gpioc 14 GPIO_ACTIVE_HIGH>;
			label = "User LED1";
		};
		led_2: led_2 {
			gpios = <&gpioc 15 GPIO_ACTIVE_HIGH>;
			label = "User LED2";
		};
		led_3: led_3 {
			gpios = <&gpioa 15 GPIO_ACTIVE_HIGH>;
			label = "User LED3";
		};

	};

	ble_control {
		/* defined in zephyr/dts/bindings/gpio/gpio-leds.yaml */
		compatible = "gpio-leds";
		ble_disable_1: ble_disable_0 {
			gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
			label = "Switch BLE disable";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button: button {
			label = "Key";
			gpios = <&gpioa 1 GPIO_ACTIVE_LOW>;
		};
	};

	aliases {
		led0 = &led_0;
		led1 = &led_1;
		led2 = &led_2;
		led3 = &led_3;
		bledisable = &ble_disable_1;
		sw0 = &user_button;
	};
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	current-speed = <115200>;
	status = "okay";
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	current-speed = <115200>;
	status = "okay";
};

&timers2 {
	status = "okay";

	pwm {
		status = "okay";
	};
};

&i2c1 {
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb3>;
	clock-frequency = <I2C_BITRATE_FAST>;
};

&i2c3 {
	status = "okay";
	pinctrl-0 = <&i2c3_scl_pa8 &i2c3_sda_pb4>;
	clock-frequency = <I2C_BITRATE_FAST>;
};

/* &spi1 {
	status = "okay";
}; */

&rtc {
	status = "okay";
};

&usbotg_fs {
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_nss_pa4 &spi1_sck_pa5
				&spi1_miso_pa6 &spi1_mosi_pa7>;
	status = "okay";

	sdhc0: sdhc@0 {
			compatible = "zephyr,mmc-spi-slot";
			reg = <0>;
			status = "okay";
			label = "SDHC0";
			spi-max-frequency = <24000000>;
	};
};


/* zephyr/boards/arm/olimexino_stm32/olimexino_stm32.dts */
/* &spi2 {
	status = "okay";
	cs-gpios = <&gpiod 2 0>;

	sdhc0: sdhc@0 {
		compatible = "zephyr,mmc-spi-slot";
		reg = <0>;
		status = "okay";
		label = "SDHC0";
		spi-max-frequency = <24000000>;
	};
};
 */


/* PA4, pin14, SPI1_NSS -> CD/DAT3/CS */
/* PA5, pin15, SPI1_SCK -> CLK/SCLK */
/* PA6, pin16, SPI1_MISO -> DAT0/DO */
/* PA7, pin17, SPI1_MOSI -> CMD/DI */

